body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #0056b3;
  color: white;
  padding: 20px 10px;
  text-align: center;
  margin-bottom: 5px;
}
header h1 {
  margin: 0;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
main {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
section {
  margin-bottom: 30px;
}
.program-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.program-list div {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  flex: 1 1 calc(33% - 30px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 5px;
}

#footer .link-underline-dark{
    a{
        color: indigo;
    }
}

#footer a:hover {
  color: white;
}
